/* @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400'); */


html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #131313;
  background-size: 20px 20px;
}

.logo {
  width: 18em;
}

div {
  padding: 20px;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Fira Mono";
  src: url("../fonts/fira/FiraMono-Regular.ttf")
}

body{ 
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #77079d;
  font-size: 18px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -2px;
}

input {
  margin-right: 15px;
}